<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <form class="form-inline" action="/login" method="POST">
          <div class="form-group mb-2">
            <!-- <label for="longURL">Enter a URL:</label> -->
            <input class="form-control" type="text" name="username" placeholder="Username" style="height: 30px; width: 300px; margin: .5em">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
        <form method="GET" action="/logout">
          <h5 class="card-text">Logged in as: <%= username %></h5>
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        
      </div>
    </div>
  </nav>
</header>